@font-face {
    font-family: "PokemonGB";
    src: local("PokemonGB"), url("./fonts/Pokemon-Hollow.ttf") format("truetype");
  }


h1 {
    font-family: "PokemonGB", Arial, sans-serif; /* Use PokemonGB font as default */
    font-size: 50px;
}



body {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
    margin: 0; /* Remove default margin */
}